body {
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
}



/* HEADER partie logo et nav ul*/

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 20px;
}

nav {
    display: flex;
}

header img {
    width: 61px;
    height: 19px;
    padding-top: 44px;

}

#nav_hebergements {
    text-decoration: none;
    color: black;
    padding-top: 44px;
}

#nav_hebergements:hover,
#nav_activites:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC;
}

#nav_activites {
    margin-left: 67px;
    text-decoration: none;
    color: black;
    padding-top: 44px;
}






/*Main partie H1 et centre ville*/
H1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 1em;
    margin-top: 50px;


}


.centre-ville {
    margin-top: 1px;
}



/* partie barre de recherche desktop,mobile, tablette*/



form{
    display: flex;
    margin-top: 20px;
}


#research_icon{
    padding: 17px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}


#research{
    font-size: 18px;
    font-weight: bold;
    padding-left: 17px;
    border: 1px solid #f2f2f2;
    outline: none;
}



#research_button{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #0065fc;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    padding: 15px;
}



#research_button:hover{
    cursor: pointer;
}



#loupe{
    display: none;
    color: #FFFFFF;
    background-color: #0065fc;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    padding: 15px;
}



/* Filtres */


#filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
}

#filtres p {
    font-size: 1.12rem;/*18px*/
    font-weight: bold;
}

#container_bulle {
    display: flex;
    width: 100%;
}

.bulle_filtre    {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding : 10px;
    margin-left: 2%;
    white-space: nowrap;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    
}

.bulle_filtre:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}

.bulle_filtre i {
    color: #0065FC;
}

.texte_filtre {
    color: black;
    font-weight: bold;
    font-size: 1.06rem;/*17px*/
    padding-left: 10px;
}


.fa-info {
    color: #0065fc;
    border-radius: 100%;
    border: 1px solid #d9d9d9;
    padding: 5px 8px;
    margin-right: 8px;
    font-size: 11px;
}


.info {
    display: flex;
    align-items: center;
}


/* partie hebergements marseille*/

#container_hebergement_fond {
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 67%;
}

.text_article_hebergement {
    align-items: flex-start;
    font-size: 22px;
    line-height: 0.5em;

}

#hebergements_et_populaires {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
}


#container_hebergement_fond h2 {
    font-size: 22px;
    padding-left: 40px;
    padding-top: 40px;
}

#container_card_hebergement {
    width: 90%;
    padding-top: 23px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article_hebergement {
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 30%;
    height: 199px;
    margin-bottom: 30px;
    padding-bottom: 11px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border: 5px solid #FFFFFF;
}

.article_hebergement a {
    text-decoration: none;
    color: black;

}

.article_hebergement img {
    width: 100%;
    height: 65%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.description_article_hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 11px;
}

.description_article_hebergement h3 {
    font-size: 15px;
    margin-top: 5px;
}

.description_article_hebergement p {
    font-size: 13px;
    margin-bottom: 5px;
}

.star {
    display: flex;
    flex-direction: row;
    color: #0065fc;
    font-size: 12px;
    padding-top: 9px;
}

.star_grise i {
    color: #F2F2F2;
    display: flex;
    font-size: 12px;
}

#afficher_plus {
    font-size: 1.12rem;
    /*18px*/
    font-weight: bold;
    padding-top: 10px;
    padding-left: 40px;
}




/*   Partie Populaire   */


#container_populaire_fond {
    width: 30%;
    height: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #F2F2F2;
}


#title_populaire {
    display: flex;
    padding-top: 25px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
}

#title_populaire i {
    color: #0065fc;
}

#container_populaire_article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.article_populaire {
    background-color: #FFFFFF;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}


.article_populaire img {
    width: 40%;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    object-fit: cover;
}


.article_populaire a {
    color: #000000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}


.text_populaire_article {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 15px;
    padding-bottom: 12px;
}


.description_article_populaire h3 {
    font-size: 15px;
}


.description_article_populaire p {
    font-size: 13px;
    padding-top: 7px;
}


.star_article_populaire {
    display: flex;
    flex-direction: row;
    color: #0065FC;
    font-size: 12px;
}


/*   Partie Activités   */

#activites {
    margin-top: 55px;
}


#activites h2 {
    font-size: 22px;
    margin: 10px;
}


#activites_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}


.card_activites {
    width: 22%;
    height: 440px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card_activites img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


.card_activites a {
    text-decoration: none;
    color: #000000;
}


.card_activites h3 {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}


.activites_title {
    height: 10%;
    display: flex;
    align-items: center;
}


/** Section FOOTER**/

#container_footer {
    background-color: #F2F2F2;
    margin-top: 61px;
    height: 225px;
}

#regroupement_footer {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 50px;
}

.column_footer {
    width: 33%;
}

.column_footer p {
    font-size: 1.12rem;/*18px*/
    font-weight: bold;
    padding-left: 35px;

}

.column_footer ul{
    list-style: none;
    text-decoration: none;
    color: black;
    padding-top: 20px;
}

.column_footer li {
    padding-top: 12px;
}

.column_footer a {
    text-decoration: none;
    color: black;
}









/** MEDIA QUERIES *****    TABLETTE ( 991px )**/



@media screen and (max-width: 991px) {

    body {
        padding-left: 50px;
        padding-right: 50px;
    }


    /* partie header*/


    #nav_hebergements {
        color: #000000;
    }

    #nav_hebergements:hover,
    #nav_activites:hover {
        border-top: none;
        color: #000000;
    }


    

    /** Section HEBERGEMENTS ET POPULAIRES **/


    #hebergements_et_populaires {
        flex-direction: column;
    }



    /**  Partie Hebergements**/



    #container_hebergement_fond {
        width: 100%;
        height: 628px;
    }


    #title_hebergements_marseille{
        margin: 0%;
    }

    #afficher_plus{
        margin-top: 0px;
        padding-top: 0px;
    }


    /** Partie Populaires **/


    #container_populaire_fond {
        width: 100%;
        height: 280px;
        margin-top: 55px;
    }


    #title_populaire{
        padding-top: 5px;       
        padding-left: 40px;
        padding-right: 40px;
        justify-content: space-between;
    }


    #container_populaire_article{
        height: 145px;
        padding-top: 25px;
        padding-right: 40px;
        padding-left: 40px;
        flex-direction: row;
        justify-content: space-between;
    }


    .text_populaire_article{
        padding: 5px;
    }
    
    

    .article_populaire{
        width: 32%;
    }


    .description_article_populaire p{
        font-size: 13px;
        
    }


    .description_article_populaire h3{
        font-size: 13px;
        font-weight: bold;
    }


    /** Partie Activités **/


    .card_activites{
        height: 265px;
        margin-top: 25px;
    
}

    .card_activites img{
        height: 75%;
}

    .activites_title{
        height: 25%;
}

    #container_footer{
        height: 225px;
        margin-top: 30px;
}
}












/**MEDIA QUERIES *****    MOBILE ( 767px )**/



@media screen and (max-width: 767px) {

  
    body{
        margin: 0;
        padding: 0;
}

/** Section HEADER**/


    header img{
        padding-top: 20px;
}


    header{
        display: block;
        text-align: center;
}


    #nav_hebergements{
        width: 50%;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 25px;
}


    #nav_activites{
        width: 50%;
        padding-bottom: 25px;
        margin-left: 0;
        border-bottom: 3px solid #F2F2F2;       
}

    #nav_hebergements:hover, #nav_activites:hover{
        width: 100%;
        color: #0065FC;
        border-bottom: 3px solid #0065fc; 
}


/** Section Main **/


main{
    margin-top: 30px;
}

.vacances-de-reves, .centre-ville{
    padding-left: 20px;
    padding-right: 20px;
}


/**barre de recherche**/


#research{
    width: 100%;
}


form{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 36px;
}


#research_button{
    display: none;
}


#loupe{
    display: flex;
    padding: 15px;
}

/** Partie filtres **/

#filtres {
    flex-direction: column;
    align-items: baseline;
    padding-left: 20px;
    padding-right: 20px;
}

#filtres p {
    margin-bottom: 15px;
}

#container_bulle {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 17px;
}

.bulle_filtre {
    width: 35%;
    height: 50px;  
    padding-left: 13px;
    padding-right: 20px;
}

.bulle_filtre i {
    font-size: 18px;
}

.texte_filtre {
    font-size: 11px;
}


.info {
    padding-left: 20px;
    padding-right: 20px;
}


 /**populaires et hebergements**/

#hebergements_et_populaires {
    margin-top: 0;
    flex-direction: column-reverse;
    
}

/* section Les plus populaires */

#container_populaire_fond {
    height: 680px;
    border-radius: 0;
}

#title_populaire {
    padding-top: 28px;
    padding-right: 20px;
    padding-left: 20px;
}

#container_populaire_article {
    height: 80%;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.article_populaire {
    width: 100%;
}


.description_article_populaire h3 {
    font-size: 16px;
}


.description_article_populaire p {
    font-size: 14px;
}

.article_populaire a {
    justify-content: space-between;
}



/* section Hébergements */

#container_hebergement_fond {
    height: auto;
    background-color: #FFFFFF;
}

#container_hebergement_fond h2 {
    padding-left: 20px;
}

#container_card_hebergement {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.article_hebergement {
    width: 100%;
}

.article_hebergement img {
    width: 100%;
}

#afficher_plus {
    display: none;
}

/*  section Activités  */

#activites {
    height: 886px;
    padding-left:  20px;
    padding-right: 20px;
}

#activites_marseille_title {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    margin-bottom: 0;
}

#activites_container {
    height: 885px;
    flex-direction: column;
    
}

.card_activites {
    width: 100%;
    height: 190px;
}

.card_activites img {
    height: 134px;
}

.activites_title {
    height: 25%;
}

/* section Footer */

footer {
    padding-top: 80px
}

#container_footer {
    height: 550px;
}

#regroupement_footer {
    height: 80%;
    padding-left: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.column_footer {
    width: 100%;
}

}

